/* additional css coloring*/

/*a:hover {*/
    /*color: #4b9305;*/
/*}*/

/* General css*/

.bg-success{
    background-color: #6acf05 !important;
    /*background-color: #50f230 !important;*/
}

.btn-success{
    background-color: #6acf05 !important;
    /*background-color: #50f230 !important;*/
    border-color: #9aefad !important;
}

.badge-success{
    background-color: #6acf05 !important;
    /*background-color: #50f230 !important;*/
    border-color: #9aefad !important;
}

.btn-light{
    color: #6acf05 !important;
    /*color: #50f230 !important;*/
    font-weight: bold;
}

.text-a4dbo{
    color: #2e2e2e;
}
.text-success{
    color: #6acf05 !important;
    /*color: #50f230 !important;*/
}

.form-control:focus{
    border-color: #6acf05;
    /*border-color: #50f230;*/
    box-shadow: none;
    -webkit-box-shadow: none;
}

.search-drop{
    min-width: 20rem;
}

/* Sign in dropdown */
.signin .dropdown-toggle:after {
    content: none
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/* footer css*/
footer{
    min-height: 150px;
    width: 100%;
}

footer .footer-copyright{
    text-align: center !important;
    color: #ffffff;
}

/* Alerts */

.tosti{
    max-width: 300px;
    position: absolute;
    float: right;
    right: 20px;
    top: 70px;
    z-index: 2500;
}

.card-text a:hover{
    color: #ffffff;
    text-decoration: underline;
    }

.carousel-inner img {
    width: 100%;
    height: 100%;
    }

/* SELECT HOVER STYLING*/

/* The container must be positioned relative: */
.custom-select {
	position: relative;
	/*font-family: Arial;*/
	}

.custom-select select {
	display: none; /*hide original SELECT element: */
	}

.select-selected {
	/*background-color: DodgerBlue;*/
	margin-top:-10px;
	border-bottom: none;
	}

/* Style the arrow inside the select element: */
.select-selected:after {
	position: absolute;
	content: "";
	top: 0px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
	}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
	}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
	color: #000000;
	padding: 8px 8px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	}

/* Style items (options): */
.select-items {
	position: absolute;
	background-color: #ffffff;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
	}

/* Hide the items when the select box is closed: */
.select-hide {
	display: none;
	}

.select-items div:hover, .same-as-selected {
	/*background-color: rgba(0, 0, 0, 0.1);*/
	background-color: #6acf05;
	}

/* END SELECT HOVER STYLING*/

/* ALERT */
.tosti{
	max-width: 500px;
	width: 300px;
	position: absolute;
	float: right;
	right: 100px;
	top: 10px;
	z-index: 5000;
	}